<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">


<!--1st landing page when app open is execute  -->
    <servlet>
        <servlet-name>docs</servlet-name>
        <jsp-file>/HTML/landing-page.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/landingpage</url-pattern>
    </servlet-mapping>
<!--/1st landing page when app open is execute  -->
  
  
    <servlet>
        <servlet-name>resultSignup</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.account.Signup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultSignup</servlet-name>
        <url-pattern>/doctrina.signup</url-pattern>
    </servlet-mapping>
    
    <filter>  
      <filter-name>signup</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.SignupAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>signup</filter-name>  
      <url-pattern>/doctrina.signup</url-pattern>  
    </filter-mapping>
  
  
  
  <!--signin page  -->

    <servlet>
        <servlet-name>resultSignin</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.account.Signin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultSignin</servlet-name>
        <url-pattern>/doctrina.signin</url-pattern>
    </servlet-mapping>
    
    <filter>  
      <filter-name>signin</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.SigninAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>signin</filter-name>  
      <url-pattern>/doctrina.signin</url-pattern>  
    </filter-mapping>
    
 <!--/signin page  -->


<!--home page  -->
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/JSP/homepage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/doctrina.index.do</url-pattern>
    </servlet-mapping>
<!--/home page  -->

<!--click notification  -->

    <servlet>
        <servlet-name>resultNotification</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.notification.NotificationClick</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultNotification</servlet-name>
        <url-pattern>/notification_click</url-pattern>
    </servlet-mapping>
    
    <filter>  
      <filter-name>notification</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.NotificationClickAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>notification</filter-name>  
      <url-pattern>/notification_click</url-pattern>  
    </filter-mapping>
    
 <!--/click notification  -->
 
 <!--getClassroom  -->

    <servlet>
        <servlet-name>resultGetClass</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.GetClassroom</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultGetClass</servlet-name>
        <url-pattern>/getclassroom</url-pattern>
    </servlet-mapping>
    
    <filter>  
      <filter-name>getClass</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.GetClassroomAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>getClass</filter-name>  
      <url-pattern>/getclassroom</url-pattern>  
    </filter-mapping>
    
 <!--/getClassroom  -->
 
<!-- Settings -->
    
     <servlet>
        <servlet-name>settings</servlet-name>
        <jsp-file>/JSP/settings.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/doctrina.settings</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>settingsJava</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.notification.NotificationSettings</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>settingsJava</servlet-name>
        <url-pattern>/settings_valuesGet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SaveSettings</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.notification.SaveSettings</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveSettings</servlet-name>
        <url-pattern>/SaveNotification_Settings</url-pattern>
    </servlet-mapping>
    
    
<!-- Auth for settings Save  -->
     <filter>  
      <filter-name>savesettingsauth</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.SaveSettingsAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>savesettingsauth</filter-name>  
      <url-pattern>/SaveNotification_Settings</url-pattern>  
    </filter-mapping>
    
<!-- /Settings --> 

<!-- create classroom --> 
    <servlet>
        <servlet-name>resultCreateClass</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.CreateClassroom</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultCreateClass</servlet-name>
        <url-pattern>/createclassroom</url-pattern>
    </servlet-mapping>
    
    <filter>  
      <filter-name>createClass</filter-name>  
      <filter-class>zu.b5.doctrina.controller.authorization.CreateClassroomAuth</filter-class>  
    </filter>  
  
    <filter-mapping>  
      <filter-name>createClass</filter-name>  
      <url-pattern>/createclassroom</url-pattern>  
    </filter-mapping>
<!-- /create classroom --> 

<!-- getMyclassroom --> 
    <servlet>
        <servlet-name>getMyClass</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.GetMyClassroom</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getMyClass</servlet-name>
        <url-pattern>/myclassroom</url-pattern>
    </servlet-mapping>
<!--/getMyclassroom  -->

<!-- ClassroomJoinRequest -->
    <servlet>
        <servlet-name>askRequest</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.requests.ClassroomJoinRequest</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>askRequest</servlet-name>
        <url-pattern>/Classroom_JoinRequest</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>askRequest</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.ClassroomJoinRequestAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>askRequest</filter-name>
        <url-pattern>/Classroom_JoinRequest</url-pattern>
    </filter-mapping>

<!-- /ClassroomJoinRequest -->

<!-- replyJoinrequest -->

    <servlet>
        <servlet-name>replyRequest</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.requests.ReplyJoinRequest</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>replyRequest</servlet-name>
        <url-pattern>/ReplyRequest</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>replyRequestAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.ReplyJoinrequestAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>replyRequestAuth</filter-name>
        <url-pattern>/ReplyRequest</url-pattern>
    </filter-mapping>
    
<!-- /replyJoinrequest -->

<!-- classRoom -->
    
    <servlet>
        <servlet-name>enterClassroom</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.Classroom</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>enterClassroom</servlet-name>
        <url-pattern>/enterClassroom</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>classroompage</servlet-name>
        <jsp-file>/JSP/classroom.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>classroompage</servlet-name>
        <url-pattern>/classroom</url-pattern>
    </servlet-mapping>

<!-- /classRoom -->

<!-- videos get  -->
    <servlet>
        <servlet-name>getVideoResult</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.getVideos</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getVideoResult</servlet-name>
        <url-pattern>/getVideos</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>getVideos</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.GetVideosAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>getVideos</filter-name>
        <url-pattern>/getVideos</url-pattern>
    </filter-mapping>
<!--/videos get -->


    

    <servlet>
        <servlet-name>videoupload</servlet-name>
        <jsp-file>/HTML/video.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoupload</servlet-name>
        <url-pattern>/videoUpload</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>findFriends</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.find.FindFriends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findFriends</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    
    <!-- Titlesget -->
    
    <!-- Titles Set -->
    <servlet>
        <servlet-name>getTitles</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.GetTitles</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getTitles</servlet-name>
        <url-pattern>/getTitles</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>getTitlesAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.GetTitlesAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>getTitlesAuth</filter-name>
        <url-pattern>/getTitles</url-pattern>
    </filter-mapping>
    <!-- /Titlesget -->
    
    <!-- AddAssignment -->
    
    <servlet>
        <servlet-name>AddAssignment</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.AddAssignment</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddAssignment</servlet-name>
        <url-pattern>/AddAssignment</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AddAssignmentAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.AddQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AddAssignmentAuth</filter-name>
        <url-pattern>/AddAssignment</url-pattern>
    </filter-mapping>
    
    <!-- /AddAssignment -->
    
    <!-- Add test-->
    
    <servlet>
        <servlet-name>AddTest</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.AddTest</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddTest</servlet-name>
        <url-pattern>/AddTest</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AddTestAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.AddQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AddTestAuth</filter-name>
        <url-pattern>/AddTest</url-pattern>
    </filter-mapping>
    
    
    <!-- /Add test -->
    
    <!-- AddQuiz -->
        <servlet>
        <servlet-name>AddQuizQuestions</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.AddQuiz</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddQuizQuestions</servlet-name>
        <url-pattern>/AddQuizQuestions</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AddQuizQuestionsAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.AddQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AddQuizQuestionsAuth</filter-name>
        <url-pattern>/AddQuizQuestions</url-pattern>
    </filter-mapping>
        
    <!-- /AddQuiz-->
    
    <servlet>
        <servlet-name>getNames</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.report.ClassStudentName</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getNames</servlet-name>
        <url-pattern>/getNames</url-pattern>
    </servlet-mapping>
    
    <!-- getQuestions -->
    
    <!-- Assignments -->
    <servlet>
        <servlet-name>GetAssQuestions</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.GetQuestions</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetAssQuestions</servlet-name>
        <url-pattern>/getAssignmentQuestions</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>GetAssQuestionsAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.GetQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>GetAssQuestionsAuth</filter-name>
        <url-pattern>/getAssignmentQuestions</url-pattern>
    </filter-mapping>
    
    <!-- Test -->
    <servlet>
        <servlet-name>GettestQuestions</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.GetQuestions</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GettestQuestions</servlet-name>
        <url-pattern>/getTestQuestions</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>GettestQuestionsAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.GetQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>GettestQuestionsAuth</filter-name>
        <url-pattern>/getTestQuestions</url-pattern>
    </filter-mapping>
    
    <!-- QuizQuestions -->
    <servlet>
        <servlet-name>getQuizQuestions</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.insideclassroom.GetQuestions</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getQuizQuestions</servlet-name>
        <url-pattern>/getQuizQuestions</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>getQuizQuestionsAuth</filter-name>
        <filter-class>zu.b5.doctrina.controller.authorization.GetQuestionsAuth</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>getQuizQuestionsAuth</filter-name>
        <url-pattern>/getQuizQuestions</url-pattern>
    </filter-mapping>
    <!-- /getQuestions -->
    
<!-- add members -->
    
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.find.AddMember</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/inviteStudents</url-pattern>
    </servlet-mapping>
    
<!-- /add members -->

<!-- add members -->
    
    <servlet>
        <servlet-name>deleteMember</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.classroom.LeaveClassroom</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>deleteMember</servlet-name>
        <url-pattern>/leaveClassroom</url-pattern>
    </servlet-mapping>
    
<!-- /add members -->
    
    
    
    
    
    <servlet>
        <servlet-name>urlLoader</servlet-name>
        <servlet-class>zu.b5.doctrina.controller.url.CourseLoad</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>urlLoader</servlet-name>
        <url-pattern>/course/*</url-pattern>
    </servlet-mapping>
    
    <!--<servlet>-->
    <!--    <servlet-name>Reload</servlet-name>-->
    <!--    <servlet-class>zu.b5.doctrina.controller.url.Reload</servlet-class>-->
    <!--</servlet>-->
    
    <!--<servlet-mapping>-->
    <!--    <servlet-name>Reload</servlet-name>-->
    <!--    <url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
