*{
    font-family: 'Lato', sans-serif;
}
body, html, .whole{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    overflow: hidden;
}
.main {
    width: calc(100% - 240px);
    overflow: auto
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
button, .rtng-pp>input:nth-child(2) {
    border:none;
    outline:none;
}

/* ------ Common -------*/

.check, .whole_3>div, .videos-div>li {
    box-sizing:border-box;
}
.nav-main, .tabs>div, .heading, .video-name, .rtng-pp, .rtng-pp>input  {
    text-align: center;
}
button,.asmnts_div>li,.close,.test_div,.close1, .rats>li {
    cursor:pointer;
}
section>i, .check, .p_cont, .h1_hding, .close, .close1 {
    display: inline-block;
}
.videos-div>li>img, .quiz_div>li>img, .rtng-des, .sbmt {
    display: block;
}


/* ----- Nav Bar ----- */

.left-nav {
    height: 100%;
    width: 275px;
    background: #333;
    display: flex;
}
.nav-main {
    margin: auto;
    padding: 10px;
}
.nav-main>img {
    width: 100px;
    border-radius: 50%;
}
.nav-main > p , .nav-main > span {
    color: white;
    line-height: 40px;
    margin: 0;
}
.nav-main > img + p {
    font: 18px/40px 'Raleway',sans-serif;
}
.nav-main > p:first-child {
    font: 30px/50px 'Raleway',sans-serif;
}

.rtng {
    border-radius: 3px;
    padding: 6px 18px;
    margin: 18px 0;
    font-weight: 600;
    color: #333;
    background:#fafafa;
    transition: 0.4s;
}
.rtng:hover {
    background: #fff;
}

/* ----- Tabs ----- */

.tabs {
    width: 650px;
    display: flex;
    margin: 36px auto;
    border: 1px solid rgba(29, 93, 114, 0.8);
    border-radius: 3px;
    overflow: hidden;
}
.tabs>div {
    font: 18px/40px 'Lato',sans-serif;
    flex: 1;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
}
.select {
    background: #333;
    color: white;
    font-weight: bold !important;
}

section>i {
    float: right;
    margin: 10px;
    color: #00000077;
    cursor:pointer;
}
section>i:hover {
    color:#000000c4;
}
/* ----- Main Place ----- */

.whole_3 {
    height: calc(100% - 122px);
}
.whole_3>div {
    width: 900px;
    margin: 0 auto;
    padding: 0 30px;
    overflow:auto;
    /*display: none;*/
}

/* ----- Videos - Div ----- */

.heading {
    font: 30px/50px 'Raleway',sans-serif;
    letter-spacing: 2px;
    margin: 16px 0;
    border: 1px solid;
    border-width: 1px 0;
}
.total {
    display: flex;
}
.total>p {
    flex: 1;
    font-size: 20px;
    margin: 0;
}
.total>p:last-child {
    text-align: right;
}
.videos-div, .quiz_div{
    display: flex;
    flex-wrap: wrap;
}
.videos-div>li{
    padding: 16px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.1);
}
.videos-div>li>img, .quiz_div>li>img {
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
}

.videos-div>li,.quiz_div>li{
    margin:15px;
}
.video-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.time {
    font-size: 13px;
    color: #aaa;
}
.check {
    height: 18px;
    width: 18px;
    border: 1px solid #aaa;
    border-radius: 3px;
    float:right;
    padding: 0px 2px 0;
    font-size: 17px;
    line-height: 16px;
    background: #03a9f4;
    color: white;
}

    /* --------------- asmnts and tests ------------------ */

.asmnts,.tests,.quizs {
    display:none;
}

    /* ---------------- asmnts div --------------- */

.asmnts_div>li, .test_div>li{
    width: 600px;
    padding:15px;
    border-radius: 3px;
    margin: 15px auto;
    box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.17);
}
.asmnts_div>li>p , .test_div>li>p, .rats>li>p{
    display:inline;
    font-size: 18px;
    line-height: 1.75;
    margin: 0 15px 0;
}
.asmnt_icon{
    height: 30px;
    vertical-align: bottom;
}
.asmnts_div>li>div{
    margin:6px 20px;
}
.all_asigns{
    display:none;
}
.s_no{
    color: #999;
    font-size: 15px;
    padding: 3px 8px 4px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    box-shadow: 0 0 0 1px;
}
.qn, .test_qn{
    color: #607D8B;
    font: 600 17px/25px 'Lato',sans-serif;
}
.p_cont{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.52);
    padding: 0 0 0 18px;
}
.ans{
    width: 88%;
    height: 37px;
    margin: 13px 0 0 0;
    padding: 5px;
    float: right;
    border-radius: 5px;
    border: 2px solid #eee;
    color: #4c4c4c;
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.h1_hding{
    vertical-align: middle;
    margin: 0 0 20px 0;
    color: rgb(34, 34, 34);
    letter-spacing: 1.5px;
}
.close, .close1{
    float: right;
}

/* ------------------ quiz ---------------------  */
.quiz_div>li{
    padding: 16px;
    width: 147px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.1)
}
.test_div>li>i{
    color: #03A9F4;
    font-size: 19px;
}
.all_test{
    display:none;
}
.all_test>li,.all_asigns>li,.rats>li{
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    padding: 14px 20px;
    margin: 30px 0;
}

/* ------------------ Ratings ----------------------- */
.rating{
    display:none;
}
.st_box{
    float: right;
    font-size: 23px;
    display: inline;
    color: transparent;
    font-size: 35px;
    line-height: 30px;
    cursor: default;
}
.rats>li{
    width:600px;
    margin:30px auto;
}
.rats>li:focus {
    outline: none;
}
.rats>li:focus .des {
    display: block;
}
.des {
    width: 85%;
    margin: 1em auto 12px;
    padding: 8px 1em 12px;
    display: none; 
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.des>p {
    margin: 7px 0;
    font-size: 16px;
}
.des>span {
    text-indent: 20px;
}
.rtng-pp {
    position: absolute;
    background: white;
    top: -300px;
    left: 50%;
    padding: 20px 40px;
    margin-left: -285px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(0,0,0,0.45);
}
.rtng-pp>p {
    padding: 0 0 10px;
    margin: 0 0 20px;
    font-size: 25px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
}
.rtng-pp>input:nth-child(2) {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.rtng-pp> input[type=number] {
    width: 26px;
    padding: 6px 5px;
    border: none;
    border-radius: 3px;
    margin: 0 5px 0 7px;
    box-shadow: 0 0 7px #333 inset;
    outline-color: #999;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.rtng-des {
    width: 450px;
    resize: none;
    max-height: 100px;
    overflow: auto;
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
    outline-color: #ccc;
    border-radius: 3px;
}
.sbmt {
    margin: 16px auto 0;
    padding: 6px 18px;
    border-radius: 3px;
    background: #555;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.sbmt:hover {
    background: #3a3a3a
}

